@import "../../global/style";

body {
    background-color: #fffcd8;
}

header {
    padding: 40px;
}

*[disabled] {
    opacity: 0.6;
}

.content {
    padding: 20px;
}

.full-width {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

#status, #out, #prompt, #in, #restart {
    font-family: $mono;
    border-width: 0px;
    background-color: $inset;
    resize: none;
    border: none;
    outline: none;
    tab-size: 4;
}

#status, #out, #restart {
    width: 100%;
}

#status {
    margin-bottom: 20px;
    color: $dark;
}

#out {
    height: 55vh;
    color: $dark;
}

#prompt {
    float: left;
    width: 5ch;
    height: 100%;
    font-size: medium;
    vertical-align: middle;
    color: $dark;
    text-align: center;
}

#in {
    float: left;
    width: calc(100% - 5ch);
    height: 100%;
    font-size: medium;
    color: black;
}

#restart {
    padding: 8px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    font-family: $font;
    color: black;
}
